body {
  background-image: url("https://orig00.deviantart.net/7ee0/f/2018/168/c/a/tumblr_osggmedtsr1uzwgsuo1_400_by_furaffy-dceo31w.gif");
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  resize: both;
